/* @import "./stylesheets/app.css"; */
/* @import "./stylesheets/widget.css"; */
/* @import "./stylesheets/cpu.css"; */
/* @import "./stylesheets/info.css"; */
/* @import "./stylesheets/mem.css"; */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*::selection {
    color: black;
    background: pink;
}
